<!doctype html>
<html class="no-js" lang="en">

    <%- include('partial/css.ejs') %>
    <body>
    <%- include('partial/preloader.ejs') %>

    <%- include('partial/scroll-top.ejs') %>

    <%- include('partial/header.ejs') %>

    <main>   
   

    <%- body %>
   
    </main>
    
    <%- include('partial/footer.ejs') %>

    <%- include('partial/script.ejs') %>
</body>

</html>